<div class="non-auth">
  <%= link_to :controller => "home", :action => "createvideo" do
    t :auth_record_moves
  end %>
</div>

<div class="auth">
  <%= link_to :controller => "home", :action => "createvideo" do
    t :auth_record_moves
  end %>
</div>
