<div class="inner-wrapper">
  <section role="faq" style="padding-bottom:230px;">
    <a href="/" class="go-back-btn">return to the dance off</a>
    <%= render :partial => "shared/rules" %>
  </section>
</div>