<!-- do not use this, you probably want _thanks.html.erb -->
<h1>thanks for the upload</h1>
<p>Congratulations, your epic dance video uploaded successfully! It's off for moderation. Once it
passes the test you'll find it on the home page of the app underneath "My Videos."</p>

<a href="/videos/new">upload another video</a> | 
<a href="/">return to battles again</a>