<!DOCTYPE html>
<html>
<head>
  <title>DC3 Dance Off</title>
  <!-- OG -->
  <meta property="og:url"           content="<%=BASE_URL%>" >
  <meta property="og:title"         content="DC3 Dance Off" >
  <meta property="og:type"          content="website" >
  <meta property="og:image"         content="TODO: get thumb" >
  <meta property="og:site_name"     content="DC3 Dance Battles" >
  <meta property="og:description"   content="Launch the DC3 Danceoff App" >
  <meta property="og:locale"        content="en_US" >
  <meta property="fb:admins"        content="100002574691787" >
  <!-- /OG -->
  <%= stylesheet_link_tag    "application", :media => "all" %>
</head>

<body>


<%= yield %>


</body>
</html>
